
.container{
background-color: rgb(226, 221, 221);
display: flex;
width: 900px;

}

.logo{
    background-color: gray;
    height: 15vh;
    width: 600px;
    font-size: 30px;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 150px;
    margin-top: 20px;

      
}

.navi{
    background-color: gray;
    height: 10vh;
    width: 600px;
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 150px;
}


.banner{
    background-color: gray;
    height: 27vh;
    width: 600px;
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 150px;
}

.sidebar{
    background-color: gray;
    height: 55vh;
    width: 200px;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-flex;
    text-align: center;
    margin: 0 auto;
    margin-left: 150px;
   
}

.body{
    background-color: gray;
    height: 55vh;
    width: 390px;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-flex;
    text-align: center; 
    margin-left: 10px;  

}


.footer{
    background-color: gray;
    height: 10vh;
    width: 600px;
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 150px;
}
